---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.gallery {
  padding: 60px 0;
  
  .gallery-item {
    overflow: hidden;
    margin-bottom: 30px;
    
    .gallery-wrap {
      position: relative;
      overflow: hidden;
      
      img {
        transition: all 0.3s;
        width: 100%;
      }
      
      &:hover img {
        transform: scale(1.1);
      }
    }
    
    .gallery-info {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      opacity: 0;
      transition: all 0.3s;
    }
    
    &:hover .gallery-info {
      opacity: 1;
    }
    
    .gallery-links {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
@import "custom";
